@page
@model Kinoteatr_Web_2027.Pages.Visitors.IndexModel

@{
    ViewData["Title"] = "Список";
}

<h1>Список зрителей</h1>

<p>
    <a asp-page="Create">Добавить нового зрителя</a>
</p>

<table border="1" cellpadding="4">
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Дата рождения</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var buyer in Model.Visitors)
        {
            <tr>
                <td>@buyer.LastName</td>
                <td>@buyer.Email</td>
                <td>@buyer.Phone</td>
                <td>@buyer.BirthDate</td>
                <td>
                    <a asp-page="Details" asp-route-id="@buyer.FIO">Открыть</a>
                    <a asp-page="Edit" asp-route-id="@buyer.FIO">Изменить</a>
                    <a asp-page="Delete" asp-route-id="@buyer.FIO">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>