@page
@model Kinoteatr_Web_2027.Pages.Tickets.IndexModel

@{
}

<h1>Список билетов</h1>

<p>
    <a asp-page="Create">Добавить новый билет</a>
</p>

<table border="1" cellpadding="4">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Зритель</th>
            <th>Дата</th>
            <th>Цена билета</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var buyer in Model.Ticket)
        {
            <tr>
                <td>@buyer.Title</td>
                <td>@buyer.Viewer</td>
                <td>@buyer.Date</td>
                <td>@buyer.Summa</td>
                <td>
                    <a asp-page="Details" asp-route-id="@buyer.Title">Открыть</a>
                    <a asp-page="Edit" asp-route-id="@buyer.Title">Изменить</a>
                    <a asp-page="Delete" asp-route-id="@buyer.Title">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

